/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

.note {
  width: 100px;
  height: 100px;
  background-color: black;
  // border-width: 2px;
  // border-style: solid;
  margin: 5px;
  border-radius: 100%;
}

.note.played {
  background-color: tomato;
}
